# Devcontainer build cache
.vscode/
*.code-workspace

# Python cache and virtualenvs
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.env/
.venv/
env/
venv/

# Logs
*.log

# Jupyter/IPython
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Output ZIP snapshots to upload for processing by AI
snapshots/

# Raw HTML docs downloaded for processing by AI
docs/raw/

logs/
